ul {
  list-style-type: none;
}

html, body, .ember-view, .full-height {
  height: 100%;
}

.sidenav {
  background: #cccccc;
  padding: 0;
  margin: 0;

  .nav-pages li {
    position: relative;

    a {
      text-align: center;
      text-decoration: none;
      color: #555555;

      &:focus {
        background: #cccccc;
      }

      &.active {
        background: whitesmoke;
      }
    }

    .btn-del-page {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 20%;
      color: whitesmoke;
    }

    &:hover {
      background: whitesmoke;

      .btn-del-page {
        display: block;

        &:hover {
          background: darkred;
        }
      }
    }
  }
}

.main {
  padding: 1em 3em;
}

.open-url-tip {
  display: inline;
  margin-left: 1em;
}
