ul {
  list-style-type: none;
}

html, body, .ember-view, .full-height {
  height: 100%;
}

.sidenav {
  background-color: #cccccc;
  padding: 0;
  margin: 0;

  .nav-pages {
    text-align: center;

    a {
      text-decoration: none;
      color: #555555;

      &.active {
        background: whitesmoke;
      }
    }
  }
}

.main {
  padding: 1em 3em;
}

.open-url-tip {
  display: inline;
  margin-left: 1em;
}
