<ul class="nav nav-pills nav-stacked nav-pages">
  {{#each pages as |page|}}
    <li>{{#link-to "pages.show" page}}{{page.name}}{{/link-to}}</li>
  {{/each}}
  <li><a href="#">Add a new page</a></li>
</ul>
