<ul class="nav nav-pills nav-stacked nav-pages">
  {{#each pages as |page|}}
    {{#unless page.isNew}}
      <li>
        {{#link-to 'pages.show' page}}{{page.name}}{{/link-to}}
        <a class="btn btn-danger btn-del-page" {{action 'deletePage' page}}>-</a>
      </li>
    {{/unless}}
  {{/each}}
  <li>{{#link-to 'pages.new'}}Add a new page{{/link-to}}</li>
</ul>
